@charset "UTF-8";
:root {
  --sub-bg-color: #2196F3;
  --main-bg-color: #2F303A;
  --sub-text-color: #757575;
  --icon-color: #AFB1B8;
  --special-text-color: #ffffff;
  --light-blue-color: #188CE8;
  --tr-du: 250ms;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.picture {
  display: block;
}

/* Контейнери та секції */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 700;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.list {
  display: flex;
  gap: 30px;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo--wrap {
  margin-right: 93px;
}
.logo--footer {
  color: var(--sub-bg-color);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}

.btn {
  transition: background-color var(--tr-du) var(--timing);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--sub-bg-color);
  color: var(--special-text-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: var(--light-blue-color);
}
.btn--modal {
  width: 200px;
  margin: 0 auto;
  padding: 10px 52px;
}

.social__list {
  display: flex;
  gap: 10px;
}
.social__link {
  transition: background-color var(--tr-du) var(--timing);
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}
.social__link:hover, .social__link:focus {
  background-color: var(--sub-bg-color);
}
.social__link:hover .social__icon--team,
.social__link:hover .social__icon--team, .social__link:focus .social__icon--team,
.social__link:focus .social__icon--team {
  fill: var(--special-text-color);
}
.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__icon {
  fill: var(--special-text-color);
}
.social__icon--team {
  transition: fill var(--tr-du) var(--timing);
  fill: var(--icon-color);
}
.social__icon--footer {
  margin: 0 0 0 10px;
}
.social__subtitle {
  color: var(--special-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}
.social__form {
  display: flex;
}
.social__email {
  width: 358px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.social__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: var(--sub-bg-color);
}
.header__list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.header__item:not(:last-child) {
  margin-right: 30px;
}
.header__link {
  display: flex;
  align-items: center;
  color: var(--sub-text-color);
  transition: color var(--tr-du) var(--timing);
}
.header__link:hover, .header__link:focus {
  color: var(--sub-bg-color);
}
.header__link:hover .contact-icon, .header__link:focus .contact-icon {
  fill: currentColor;
}
.header__icon {
  transition: fill var(--tr-du) var(--timing);
  margin-right: 10px;
  fill: currentColor;
}

.nav {
  display: flex;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__item--contact:first-child {
  margin-right: 30px;
}
.nav__link {
  transition: color var(--tr-du) var(--timing);
}
.nav__link:hover, .nav__link:focus {
  color: var(--sub-bg-color);
}
.nav__link--current {
  position: relative;
  transition: color var(--tr-du) var(--timing);
  color: var(--sub-bg-color);
}
.nav__link--current:hover, .nav__link--current:focus {
  color: var(--light-blue-color);
}
.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(1px);
  width: 100%;
  height: 4px;
  background-color: var(--sub-bg-color);
  border-radius: 2px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--main-bg-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--special-text-color);
}

.address__link {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.address__link--map {
  color: var(--special-text-color);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.hero {
  background-color: var(--main-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  padding: 200px 0;
  text-align: center;
  width: 1200px;
}
.hero__title {
  margin: 0 auto 30px;
  text-transform: uppercase;
  max-width: 696px;
  color: var(--special-text-color);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
}
.hero__btn {
  padding: 10px 32px;
}

.features__list {
  display: flex;
}
.features__item {
  width: 270px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__subtitle {
  margin-bottom: 10px;
}
.features__label {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  color: var(--sub-text-color);
}
.features__thumb {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.promo {
  padding-top: 0;
}
.promo__list {
  display: flex;
}
.promo__item {
  display: flex;
  position: relative;
}
.promo__item:not(:last-child) {
  margin-right: 30px;
}
.promo__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.promo__label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  color: var(--special-text-color);
}

.team {
  background-color: #F5F4FA;
}
.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  line-height: 1.2;
  font-size: 16px;
  background-color: var(--special-text-color);
}
.team__name {
  font-weight: 500;
  text-transform: none;
  margin-bottom: 10px;
}
.team__staff {
  color: var(--sub-text-color);
  margin-bottom: 16px;
}
.team__thumb {
  border-radius: 0px 0px 4px 4px;
  padding: 30px;
}

.clients__list {
  justify-content: center;
  margin-top: 50px;
}
.clients__link {
  transition: border-color var(--tr-du) var(--timing);
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--sub-bg-color);
}
.clients__link:hover .clients__icon,
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--sub-bg-color);
}
.clients__icon {
  transition: fill var(--tr-du) var(--timing);
  fill: var(--icon-color);
}

.portfolio__list {
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio__btn {
  transition: background-color var(--tr-du) var(--timing), color var(--tr-du) var(--timing), box-shadow var(--tr-du) var(--timing);
  padding: 6px 22px;
  display: inline-block;
  font-weight: 500;
  background-color: #F5F4FA;
  border-radius: 4px;
  color: inherit;
  box-shadow: none;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--sub-bg-color);
  color: var(--special-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__btn--first {
  padding: 6px 25px;
}
.portfolio__title {
  color: #212121;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: start;
}
.portfolio__label {
  font-size: 16px;
  line-height: 1.88;
  color: var(--sub-text-color);
}

.card__list {
  flex-wrap: wrap;
}
.card__item {
  width: 370px;
}
.card__link {
  transition: box-shadow var(--tr-du) var(--timing);
  display: block;
}
.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__link:hover .pic__inner,
.card__link:hover .pic__inner, .card__link:focus .pic__inner,
.card__link:focus .pic__inner {
  transform: translateY(0);
}
.card__thumb {
  padding: 20px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.pic__thumb {
  position: relative;
  overflow: hidden;
}
.pic__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  transform: translateY(100%);
  transition: transform var(--tr-du) var(--timing);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}
.pic__label {
  font-size: 18px;
  line-height: 1.55;
  color: var(--special-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--tr-du) var(--timing), visibility var(--tr-du) var(--timing);
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--tr-du) var(--timing);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  background-color: var(--special-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
}
.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
  fill: var(--sub-bg-color);
}
.modal__close-icon {
  transition: fill var(--tr-du) var(--timing);
  fill: #000000;
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sub-text-color);
  margin-bottom: 4px;
}
.modal__thumb {
  margin-bottom: 10px;
}
.modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 12px 12px 42px;
  transition: border-color var(--tr-du) var(--timing);
}
.modal__input:focus-within {
  border-color: var(--sub-bg-color);
}
.modal__input:focus-within ~ .modal__icon {
  fill: var(--sub-bg-color);
}
.modal__inner {
  position: relative;
  margin-bottom: 4px;
}
.modal__textarea {
  padding: 12px 16px;
  resize: none;
  outline: none;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  transition: border-color var(--tr-du) var(--timing);
}
.modal__textarea:focus-within {
  border-color: var(--sub-bg-color);
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--tr-du) var(--timing);
}
.modal__checkbox {
  flex-direction: row;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
}
.checkbox-label {
  color: var(--sub-bg-color);
}
.checkbox:checked ~ .custom-checkbox {
  background-color: var(--sub-bg-color);
  background-image: url("../images/icon_check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border: none;
}/*# sourceMappingURL=main.css.map */