.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--main-bg-color);

    &__container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 20px;
        color: var(--special-text-color);
        
    }
}
.address{

    &__link {
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;

        &--map {
            color: var(--special-text-color);
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
}