.portfolio {

    &__list {
        justify-content: center;
        gap: 8px;
        margin-bottom: 50px;
    }
    &__btn {
        transition: background-color var(--tr-du) var(--timing), color var(--tr-du) var(--timing), box-shadow var(--tr-du) var(--timing);
        padding: 6px 22px;
        display: inline-block;
        font-weight: 500;
        background-color: #F5F4FA;
        border-radius: 4px;
        color: inherit;
        box-shadow: none;

        &:hover,
        &:focus {
        
            background-color: var(--sub-bg-color);
            color: var(--special-text-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }

        &--first {
            padding: 6px 25px;
        }
    }
    &__title {
        color: #212121;
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: start;
    }
    &__label {
        font-size: 16px;
        line-height: 1.88;
        color: var(--sub-text-color);
    }
}

.card {

    &__list {
        flex-wrap: wrap;
    }
    &__item {
        width: 370px;
    }
    &__link {
        transition: box-shadow var(--tr-du) var(--timing);
        display: block;
        &:hover,
        &:focus {
        
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                        0px 4px 4px rgba(0, 0, 0, 0.06), 
                        1px 4px 6px rgba(0, 0, 0, 0.16);
                         .pic__inner,
                         .pic__inner {
                            transform: translateY(0);
                        
                        }
        }
    }
    &__thumb {
        padding: 20px;
        border-left: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
    }
    
}

.pic {

    &__thumb {
        position: relative;
        overflow: hidden;
    }
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    
        transform: translateY(100%);
        transition: transform var(--tr-du) var(--timing);
    
        padding: 63px 24px;
        background-color: rgba(33, 150, 243, 0.9);
    
    }
    &__label {
        font-size: 18px;
        line-height: 1.55;
    
        color: var(--special-text-color);
    }
}