:root {
    --sub-bg-color: #2196F3;
    --main-bg-color: #2F303A;
    --sub-text-color: #757575;
    --icon-color: #AFB1B8;
    --special-text-color: #ffffff;
    --light-blue-color: #188CE8;
    --tr-du: 250ms;
    --timing: cubic-bezier(0.4, 0, 0.2, 1);
}
